<h1>How To Learn Ruby While You Walk The Dog</h1>

<p>
There’s never enough time to learn everything you want. 
And it always seems like there’s too much other stuff 
taking up the time you do have. This makes it hard to keep 
up with your Ruby knowledge.
<br>
<br>
Books and screencasts are great, but they take time and focus. 
And doing the dishes, commuting to work, and walking the dog 
can get boring. It’s nice to have those moments to think or relax. 
But most of the time, I want to take advantage of those minutes of 
boredom and learn something!
<br>
<br>
For this, there’s nothing better than podcasts. Instead of playing 
iOS games or checking my email for the dozenth time, I can learn 
something new about my favorite language.
<br>
<br>
Ruby news podcasts like Ruby5 (and the sadly abandoned The Ruby Show) 
are great for keeping up with new gem releases and good blog posts. 
But the podcasts that go in depth on a single topic are even better. 
</p>
